# This is Jeopardy! Data Analysis and Interactive Game

This project includes several functions for cleaning and analyzing a dataset of questions and answers from Jeopardy!.
Columns from the raw data include: `Show Number`, `Air Date`, `Round`, `Category`, `Value`, `Question`, and `Answer`.

Additionally, the last cell includes an interactive game. Feel free to play!

Dataset source: Codecademy This is Jeopardy! project

### Step 1: Importing and Cleaning

In [1]:
#importing dataset

import pandas as pd
pd.set_option('display.max_colwidth', None)
raw_data = pd.read_csv(r'C:\Users\hchld\Documents\Programming\Codecademy\jeopardy_starting\jeopardy.csv')
print(raw_data.head(10))

   Show Number    Air Date      Round                         Category  Value  \
0         4680  12/31/2004  Jeopardy!                          HISTORY  $200
1         4680  12/31/2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  12/31/2004  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  12/31/2004  Jeopardy!                 THE COMPANY LINE  $200
4         4680  12/31/2004  Jeopardy!              EPITAPHS & TRIBUTES  $200
5         4680  12/31/2004  Jeopardy!                   3-LETTER WORDS  $200
6         4680  12/31/2004  Jeopardy!                          HISTORY  $400
7         4680  12/31/2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $400
8         4680  12/31/2004  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $400
9         4680  12/31/2004  Jeopardy!                 THE COMPANY LINE  $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer
0      Copernicus
1      Jim Thorpe
2         Arizona
3      McDonald's
4      John Adams
5         the ant
6  the Appian Way
7  Michael Jordan
8      Washington
9  Crate & Barrel

In [2]:
#cleaning up column names

for column in raw_data:
    print(column)
#note: all columns but Show Number have leading space

no_spacing = raw_data.rename(str.strip, axis='columns')

df = no_spacing.rename(columns={"Show Number": "Show_Number", "Air Date": "Air_Date"})

for column in df:
    print(column)
#all columns now have no leading space and better naming

Show Number
 Air Date
 Round
 Category
 Value
 Question
 Answer
Show_Number
Air_Date
Round
Category
Value
Question
Answer

### Step 2: Creating Functions

In [3]:
#Function sorts through df for both keywords matches in Question column
keywords = ["company", "store"]

def create_via_keywords(dataframe, keys):
    filtering = lambda x: all(key.lower() in x.lower() for key in keys)
    return dataframe.loc[dataframe["Question"].apply(filtering)]

filtered_df = create_via_keywords(df, keywords)
print(filtered_df.head(10))

       Show_Number    Air_Date             Round                     Category  \
282           4931    2/6/2006  Double Jeopardy!                  AT THE MALL
16238         5051   7/24/2006         Jeopardy!            AMERICAN BUSINESS
23883         2975    7/4/1997         Jeopardy!            THE FOOD BUSINESS
37324         5088  10/25/2006  Double Jeopardy!                  A STOCKPILE
43716         6078    2/2/2011  Double Jeopardy!  NATIONAL HISTORIC LANDMARKS
46740         3061  12/15/1997         Jeopardy!                     FORMULAS
48350         3943  10/24/2001  Double Jeopardy!          BUSINESS & INDUSTRY
50747         1283   3/14/1990         Jeopardy!          BUSINESS & INDUSTRY
72373         5295   9/21/2007         Jeopardy!        FOR WHAT IT'S "WORTH"
72618         3805    3/2/2001         Jeopardy!               STUPID ANSWERS

         Value  \
282    $1,200
16238    $400
23883    $400
37324    $400
43716    $400
46740    $100
48350  $1,000
50747    $100
72373    $200
72618    $200

                                                                                               Question  \
282                                           This "Urban" store is the parent company of Anthropologie
16238   In 1962 the Dayton Company hit the bull's-eye when it opened the first of these discount stores
23883   In 1833 Abraham Lincoln sold this company's packaged chocolate in his Salem, Ill. country store
37324                                                      Store some Nikes & Pumas in this company, FL
43716             Historic landmarks in this city include Hull House & the Marshall Field Company Store
46740  This soft drink's secret formula is stored in a safe deposit box at the Trust Company of Georgia
48350                            This athletic shoe company's internet store is located at catshack.com
50747            Through a licensing agreement with this company, Sears has opened stores called McKids
72373       By 1912 this merchant's company owned more than 500 stores bearing his name across the U.S.
72618         On 7/11/2000 this company announced the opening of its 20,000th store, a new one in Tokyo

                           Answer
282              Urban Outfitters
16238                      Target
23883                     Baker's
37324                 Foot Locker
43716                     Chicago
46740                   Coca-Cola
48350                        Puma
50747                  McDonald's
72373  (Frank Winfield) Woolworth
72618                    7-Eleven

In [4]:
#Create new column, Value_Float, with Value as floats
def convert_to_float(x):
    if x != "None":
        return float(x[1:].replace(",", ""))

df["Value_Float"] = df.Value.apply(convert_to_float)
print(df.head(10))

   Show_Number    Air_Date      Round                         Category  Value  \
0         4680  12/31/2004  Jeopardy!                          HISTORY  $200
1         4680  12/31/2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  12/31/2004  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  12/31/2004  Jeopardy!                 THE COMPANY LINE  $200
4         4680  12/31/2004  Jeopardy!              EPITAPHS & TRIBUTES  $200
5         4680  12/31/2004  Jeopardy!                   3-LETTER WORDS  $200
6         4680  12/31/2004  Jeopardy!                          HISTORY  $400
7         4680  12/31/2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $400
8         4680  12/31/2004  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $400
9         4680  12/31/2004  Jeopardy!                 THE COMPANY LINE  $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer  Value_Float
0      Copernicus        200.0
1      Jim Thorpe        200.0
2         Arizona        200.0
3      McDonald's        200.0
4      John Adams        200.0
5         the ant        200.0
6  the Appian Way        400.0
7  Michael Jordan        400.0
8      Washington        400.0
9  Crate & Barrel        400.0

In [5]:
#Create new column, datetime_Air_Date in datetime dtype
from datetime import datetime
df["datetime_Air_Date"] = df.Air_Date.apply(lambda x: datetime.strptime(x, "%m/%d/%Y"))
print(df.head())

   Show_Number    Air_Date      Round                         Category  Value  \
0         4680  12/31/2004  Jeopardy!                          HISTORY  $200
1         4680  12/31/2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  12/31/2004  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  12/31/2004  Jeopardy!                 THE COMPANY LINE  $200
4         4680  12/31/2004  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer  Value_Float datetime_Air_Date
0  Copernicus        200.0        2004-12-31
1  Jim Thorpe        200.0        2004-12-31
2     Arizona        200.0        2004-12-31
3  McDonald's        200.0        2004-12-31
4  John Adams        200.0        2004-12-31

In [6]:
#Difficulty finder (higher Value_Float = more difficult)
company_df = create_via_keywords(df, "company")
store_df = create_via_keywords(df, "store")

def average_difficulty(dataframe):
    return dataframe.Value_Float.mean()

company_difficulty = average_difficulty(company_df)
print("The average value of Jeopardy! questions containing the keyword \"company\" is {}".format(str(round(company_difficulty, 1))))
store_difficulty = average_difficulty(store_df)
print("The average value of Jeopardy! questions containing the keyword \"store\" is {}".format(str(round(store_difficulty, 1))))

The average value of Jeopardy! questions containing the keyword "company" is 791.3
The average value of Jeopardy! questions containing the keyword "store" is 757.6

In [7]:
#Find unique answers for keyword dataframes
def unique_ans_count(dataframe):
    return dataframe["Answer"].value_counts()
company_ans_series = unique_ans_count(company_df)
store_ans_series = unique_ans_count(store_df)
print(company_ans_series, company_ans_series)

China                              101
Chicago                             86
Japan                               83
India                               82
Paris                               78
                                  ...
R&R                                  1
"Can't Buy Me Love"                  1
"One if by land, two if by sea"      1
the 1980s                            1
a lease                              1
Name: Answer, Length: 41085, dtype: int64 China                              101
Chicago                             86
Japan                               83
India                               82
Paris                               78
                                  ...
R&R                                  1
"Can't Buy Me Love"                  1
"One if by land, two if by sea"      1
the 1980s                            1
a lease                              1
Name: Answer, Length: 41085, dtype: int64

In [8]:
#Count of word keywords by date (in 90s or in 2000s)
import datetime

def keyword_counter_by_date(dataframe, keyword):
    keyword_df = create_via_keywords(dataframe, keyword)
    in_90s = 0
    in_2000s = 0
    for row in keyword_df.datetime_Air_Date:
        if row < datetime.datetime(2000, 1, 1):
            in_90s += 1
        elif row >= datetime.datetime(2000, 1, 1):
            in_2000s += 1
    print("The number of questions with the keyword \"{}\" was {} in the 90s and {} in the 2000s.".format(keyword, str(in_90s), str(in_2000s)))

computer_counter = keyword_counter_by_date(df, "computer")
cellphone_counter = keyword_counter_by_date(df, "cellphone") 
television_counter = keyword_counter_by_date(df, "television")

The number of questions with the keyword "computer" was 24027 in the 90s and 61945 in the 2000s.
The number of questions with the keyword "cellphone" was 32913 in the 90s and 80879 in the 2000s.
The number of questions with the keyword "television" was 23978 in the 90s and 61479 in the 2000s.

### Step 3: Making Data Interactive

In [9]:
#setup input, SQL database for stat tracker, and game
from random import randrange
import sqlite3

connection = sqlite3.connect("jeopardy_stats.db")
cursor = connection.cursor()

cursor.execute(''' CREATE TABLE jeopardy_stats (
Balance INT,
Correct INT,
Incorrect INT
);
''')

def jeopardy_game(df):
    random_num = randrange(len(df))
    question = df.iloc[random_num]
    print("The category is {} for a value of {}! Your question is: {}.".format(str(question.Category), str(question.Value), str(question.Question)))
    your_answer = input("Please input your answer and press Enter:")
    if str(your_answer) == str(question.Answer):
        question_num = (question.Value_Float, 1, 0)
        cursor.execute('INSERT INTO jeopardy_stats VALUES (?,?,?);', question_num)
        current_balance = cursor.execute('SELECT SUM(Balance) FROM jeopardy_stats').fetchone()
        total_correct = cursor.execute('SELECT SUM(Correct) FROM jeopardy_stats').fetchone()
        total_incorrect = cursor.execute('SELECT SUM(Incorrect) FROM jeopardy_stats').fetchone()
        print("That is correct! Your current stats are Balance: {}, Correct: {}, Incorrect: {}.".format(str(current_balance), str(total_correct), str(total_incorrect)))
    elif str(your_answer) != str(question.Answer):
        question_num = (-abs(question.Value_Float), 0, 1)
        cursor.execute('INSERT INTO jeopardy_stats VALUES (?,?,?);', question_num)
        current_balance = cursor.execute('SELECT SUM(Balance) FROM jeopardy_stats').fetchone()
        total_correct = cursor.execute('SELECT SUM(Correct) FROM jeopardy_stats').fetchone()
        total_incorrect = cursor.execute('SELECT SUM(Incorrect) FROM jeopardy_stats').fetchone()
        print("That is incorrect. The answer is {}. Your current stats are Balance: {}, Correct: {}, Incorrect: {}.".format(str(question.Answer),str(current_balance), str(total_correct), str(total_incorrect)))

### How to play:
-Each cell represents a separate, randomly-selected question. Simply run the following cells sequentially, and the question will be outputted along with your stats (tracked via SQL database).

In [ ]:
#Question 1
jeopardy_game(df)

In [ ]:
#Question 2
jeopardy_game(df)

In [ ]:
#Question 3
jeopardy_game(df)

In [ ]:
#Question 4
jeopardy_game(df)

In [ ]:
#Question 5
jeopardy_game(df)

In [ ]:
#Question 6
jeopardy_game(df)

In [ ]:
#Question 7
jeopardy_game(df)

In [ ]:
#Question 8
jeopardy_game(df)

In [ ]:
#Question 9
jeopardy_game(df)

In [ ]:
#Question 10
jeopardy_game(df)